<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>WireGuard Peer Config Helper</title>
	<script src="https://cdn.jsdelivr.net/npm/vue@3/dist/vue.global.prod.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/qrcode@1.5.1/build/qrcode.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/tweetnacl@1.0.3/nacl.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/tweetnacl-util@0.15.1/nacl-util.min.js"></script>
	<style>
		body
		{
			font-family: sans-serif;
			margin: 20px;
		}

		input, select, button
		{
			margin: 5px;
			padding: 5px;
			box-sizing: border-box;
			flex: 1 1 auto;
		}

		input
		{
			font-family: Consolas, monospace;
		}

		.tunnel, .peer
		{
			border: 1px solid #ccc;
			padding: 10px;
			margin-bottom: 10px;
		}

		.peer
		{
			margin-left: 20px;
		}

		textarea
		{
			width: 100%;
			height: 160px;
		}

		label
		{
			display: flex;
			justify-content: flex-start;
			align-items: baseline;
			flex-wrap: wrap;
		}

			label > *
			{
				flex: 0 0 auto;
			}

			label > span:first-child
			{
				flex: 0 0 135px;
			}

			label > input, select
			{
				flex: 1 1 auto;
			}

		.tunnelButton
		{
			cursor: pointer;
			margin: 0px;
			padding-top: 0.8em;
			padding-bottom: 0.8em;
		}

			.tunnelButton:hover
			{
				background-color: rgba(0,0,0,0.1);
			}

		.peerButton
		{
			cursor: pointer;
			margin: 0px;
			padding-top: 0.4em;
			padding-bottom: 0.4em;
		}

			.peerButton:hover
			{
				background-color: rgba(0,0,0,0.1);
			}
	</style>
</head>
<body>
	<div id="app">
		<h1>WireGuard Peer Config Helper</h1>

		<p title="A peer with a private key or pre-shared key stored is a possible security risk, because it is stored in your browser's local storage.  For best security you should delete these keys after the peer has been exported.">Peers with secrets stored: {{ numPeersWithSecretsStored }}</p>

		<p><button @click="addTunnel">Add Tunnel</button></p>

		<div v-for="(tunnel, tIndex) in tunnels" :key="tunnel.id" class="tunnel">
			<h2 class="tunnelButton" @click="tunnel.collapse = !tunnel.collapse">{{ tunnel.name ? tunnel.name : ("Tunnel " + tIndex) }}</h2>
			<template v-if="!tunnel.collapse">
				<label title="Tunnel name (not parsed)"><span>Tunnel name (not parsed): </span><input v-model="tunnel.name"></label>
				<label title="Wireguard server hostname or IP address"><span>Hostname: </span><input v-model="tunnel.hostname"></label>
				<label title="Wireguard server port number (UDP)"><span>Port: </span><input v-model="tunnel.port" type="number"></label>
				<label title="The tunnel network (peers within the wireguard tunnel will be assigned addresses in this network). Specify the IP address of the tunnel host followed by a forward slash followed by the subnet size.">
					<span>Tunnel Address: </span><input v-model="tunnel.interfaceAddress" placeholder="e.g. 10.11.12.1/24">
				</label>
				<label title="The remote network that will be accessible through the tunnel.">
					<span>Remote Network: </span><input v-model="tunnel.remoteNetwork" placeholder="e.g. 10.0.0.1/24">
				</label>
				<label><span>Public Key: </span><input v-model="tunnel.publicKey" placeholder="wireguard public key of the tunnel"></label>

				<button @click="removeTunnel(tIndex)">Delete Tunnel</button>
				<br />
				<button @click="addPeer(tIndex)">Add Peer Below</button>

				<div v-for="(peer, pIndex) in tunnel.peers" :key="peer.id" class="peer">
					<h3 class="peerButton" @click="peer.collapse = !peer.collapse">{{ hasSecretsStored(peer) ? "*" : "" }}Peer {{ pIndex + 1 }} {{ peer.name ? ("(" + peer.name + ")") : "" }}</h3>
					<template v-if="!peer.collapse">
						<label title="Text describing the peer (this does not export into the wireguard config file).">
							<span style="font-style: italic;">Name: </span>
							<input v-model="peer.name">
						</label>
						<label title="Public key of the peer (this does not export into the wireguard config file).">
							<span style="font-style: italic;">Public Key: </span>
							<input v-model="peer.publicKey" readonly>
							<button @click="copyPreviousInput" title="copy key">&#128203;</button>
						</label>
						<label title="The private key of the peer">
							<span>Private Key: </span>
							<input type="password" v-model="peer.privateKey" placeholder="wireguard private key (keep this secure!)" autocomplete="off">
							<button @click="generatePrivateKey(peer)" title="generate new key">&#10227;</button>
							<button @click="togglePreviousInput" title="toggle visibility">&#128273;&#128065;</button>
							<button @click="copyPreviousInput" title="copy key">&#128203;</button>
						</label>
						<label title="Pre-shared key known on both ends of the wireguard connection.">
							<span>Pre-shared Key: </span>
							<input type="password" v-model="peer.psk" placeholder="wireguard pre-shared key (keep this secure!)" autocomplete="off">
							<button @click="generatePresharedKey(peer)" title="generate new key">&#10227;</button>
							<button @click="togglePreviousInput" title="toggle visibility">&#128273;&#128065;</button>
							<button @click="copyPreviousInput" title="copy key">&#128203;</button>
						</label>
						<label title="IP address of this peer inside the tunnel network.">
							<span>Peer IP Address: </span>
							<input v-model="peer.ip">
						</label>

						<!--<br />
		<button @click="showExport(tunnel, peer)">Toggle Export</button>

		<div v-if="showPeerConfigs[peer.id] && peerConfigs[peer.id]">-->
						<div v-if="peerConfigs[peer.id]">
							<h4>Peer Configuration:</h4>
							<textarea readonly @focus="onTextareaFocus" @click="onTextareaFocus">{{ peerConfigs[peer.id].config }}</textarea>
							<br />
							<button @click="copyPreviousInput">&#128203; Copy Config</button>
							<br />
							<img :src="peerConfigs[peer.id].qr">
						</div>
					</template>
					<button @click="removePeer(tIndex, pIndex)">Delete Peer</button>
				</div>
				<button v-if="tunnel.peers && tunnel.peers.length" @click="addPeer(tIndex)">Add Peer Above</button>
			</template>
		</div>
		<p><button @click="addTunnel">Add Tunnel</button></p>
		<h2>About</h2>
		<p>This mini-web app helps you generate peer configuration files for WireGuard tunnels.  It is intended for use with WireGuard networks that don't offer you another more convenient way to generate peer configs.</p>
		<p>For the most secure operation, delete secret (private / shared) keys from this app after you've exported their configuration.</p>
		<p>Limitations:</p>
		<ul>
			<li>This app cannot help with IPv6 tunnel network addressing, or with IPv4 subnets larger than /24.</li>
			<li>This app does not support having multiple remote networks (e.g. an IPv4 and IPv6 network both accessible via the same tunnel).</li>
			<li>Most input fields are not validated.</li>
		</ul>
	</div>

	<script>
		const { createApp } = Vue;

		createApp({
			data()
			{
				return {
					tunnels: JSON.parse(localStorage.getItem('wireguardTunnels') || '[]'),
					showPeerConfigs: {},
					peerConfigs: {},
				};
			},
			computed:
			{
				numPeersWithSecretsStored()
				{
					let count = 0;
					for (const tunnel of this.tunnels)
					{
						for (const peer of tunnel.peers)
						{
							if (peer.privateKey || peer.psk)
								count++;
						}
					}
					return count;
				},
			},
			methods:
			{
				hasSecretsStored(peer)
				{
					return !!(peer.privateKey || peer.psk);
				},
				save()
				{
					navigator.storage.persist(); // Request persistent storage
					localStorage.setItem('wireguardTunnels', JSON.stringify(this.tunnels));
				},
				addTunnel()
				{
					this.tunnels.push({
						id: Date.now() + "_" + Math.random(),
						hostname: '',
						port: 51820,
						interfaceAddress: '',
						remoteNetwork: '',
						publicKey: '',
						peers: [],
						collapse: false,
					});
					this.save();
				},
				removeTunnel(index)
				{
					const tunnel = this.tunnels[index];
					if (confirm("Confirm intent to remove tunnel '" + tunnel.hostname + ':' + tunnel.port + "'?"))
					{
						this.tunnels.splice(index, 1);
						this.save();
					}
				},
				addPeer(tIndex)
				{
					const tunnel = this.tunnels[tIndex];
					const usedIPs = [this.getHostIP(tunnel)].concat(tunnel.peers.map(p => p.ip));
					const nextIP = this.getNextAvailableIP(tunnel.interfaceAddress, usedIPs);
					if (!nextIP)
					{
						alert('No available IPs in subnet');
						return;
					}
					tunnel.peers.push({
						id: Date.now() + "_" + Math.random(),
						name: '',
						publicKey: '',
						privateKey: '',
						psk: '',
						ip: nextIP
					});
					this.save();
				},
				removePeer(tIndex, pIndex)
				{
					if (confirm("Confirm intent to remove peer '" + this.tunnels[tIndex].peers[pIndex].name + "'?"))
					{
						this.tunnels[tIndex].peers.splice(pIndex, 1);
						this.save();
					}
				},
				getHostIP(tunnel)
				{
					return tunnel.interfaceAddress.split('/')[0];
				},
				getNextAvailableIP(cidr, usedIPs)
				{
					const [base, size] = cidr.split('/');
					const ipParts = base.split('.').map(Number);
					const subnetSize = parseInt(size);
					const totalHosts = Math.pow(2, 32 - subnetSize) - 2;
					for (let i = 1; i <= totalHosts; i++)
					{
						const ip = `${ipParts[0]}.${ipParts[1]}.${ipParts[2]}.${ipParts[3] + i}`;
						if (!usedIPs.includes(ip)) return ip;
					}
					return null;
				},
				exportAll()
				{
					console.log("exporting all");
					for (let i = 0; i < this.tunnels.length; i++)
					{
						const tunnel = this.tunnels[i];
						for (let j = 0; j < tunnel.peers.length; j++)
						{
							const peer = tunnel.peers[j];
							this.exportPeerConfig(tunnel, peer);
						}
					}
				},
				async exportPeerConfig(tunnel, peer)
				{
					peer.publicKey = getPublicKeyFromPrivateKey(peer.privateKey);
					const config = '[Interface]' + '\n'
						+ 'PrivateKey = ' + peer.privateKey + '\n'
						+ 'Address = ' + peer.ip + '/32' + '\n'
						//+ 'DNS = 1.1.1.1' + '\n'
						+ '\n'
						+ '[Peer]' + '\n'
						+ 'PublicKey = ' + tunnel.publicKey + '\n'
						+ (peer.psk ? ('PresharedKey = ' + peer.psk + '\n') : '')
						+ 'Endpoint = ' + tunnel.hostname + ':' + tunnel.port + '\n'
						+ 'AllowedIPs = ' + tunnel.remoteNetwork + '\n';
					const qr = await QRCode.toDataURL(config, { width: 250 });
					this.peerConfigs[peer.id] = { config, qr };
				},
				showExport(tunnel, peer)
				{
					this.showPeerConfigs[peer.id] = !this.showPeerConfigs[peer.id];
					this.exportPeerConfig(tunnel, peer);
				},
				onTextareaFocus(e)
				{
					e.target.select();
				},
				generatePrivateKey(peer)
				{
					if (peer.privateKey)
					{
						if (!confirm("This will overwrite the existing private key for this peer.  Are you sure?"))
							return;
					}
					peer.privateKey = generatePrivateKey();
				},
				generatePresharedKey(peer)
				{
					if (peer.psk)
					{
						if (!confirm("This will overwrite the existing pre-shared key for this peer.  Are you sure?"))
							return;
					}
					peer.psk = generatePresharedKey();
				},
				togglePreviousInput(event)
				{
					let input = FindPreviousTextInput(event.target);
					if (input)
					{
						if (input.type === 'password')
							input.type = 'text';
						else
							input.type = 'password';
					}
				},
				copyPreviousInput(event)
				{
					let input = FindPreviousTextInput(event.target, true);
					if (input)
					{
						navigator.clipboard.writeText(input.value);
						ShowCopiedMessage({ x: event.pageX, y: event.pageY }, 0);
					}
				},
			},
			watch:
			{
				tunnels:
				{
					handler()
					{
						this.save();
						this.exportAll();
					},
					deep: true,
					immediate: true
				}
			}
		}).mount('#app');

		function FindPreviousTextInput(ele, orTextArea)
		{
			if (!ele)
				return null;
			const tag = ele.tagName.toUpperCase();
			if (tag === "INPUT")
			{
				if (ele.type === 'password' || ele.type === 'text')
					return ele;
			}
			else if (orTextArea && tag === "TEXTAREA")
				return ele;
			else
				return FindPreviousTextInput(ele.previousElementSibling, orTextArea);
		}
		function generatePrivateKey()
		{
			const keyPair = nacl.box.keyPair();
			const privateKey = nacl.util.encodeBase64(keyPair.secretKey);
			return privateKey;
		}
		function getPublicKeyFromPrivateKey(base64PrivateKey)
		{
			if (!base64PrivateKey)
				return '';
			try
			{
				const privateKeyBytes = nacl.util.decodeBase64(base64PrivateKey);
				const keyPair = nacl.box.keyPair.fromSecretKey(privateKeyBytes);
				return nacl.util.encodeBase64(keyPair.publicKey);
			}
			catch (ex)
			{
				console.log(ex);
				return '';
			}
		}
		function generatePresharedKey()
		{
			const psk = nacl.randomBytes(32);
			return nacl.util.encodeBase64(psk);
		}

		/**
		 * Adds a span after the specified element containing the text "Copied!", and fades it out after the specified time.
		 * @param {Element} target DOM element after which to insert the span. You can also pass in a mouse position ({ x: e.clientX, y: e.clientY }) if you prefer for the element to be positioned absolutely.
		 * @param {Number} durationMs Duration in milliseconds to display the "Copied!" message before it fades out for 1 second. (default 0 ms)
		 */
		function ShowCopiedMessage(target, durationMs)
		{
			if (typeof durationMs !== "number" || durationMs < 0)
				durationMs = 0;
			// Create a new span element
			const span = document.createElement('span');
			span.textContent = 'Copied!';
			span.style.transition = 'opacity 1s';
			span.style.opacity = '1';
			span.style.margin = '0px 8px';
			span.style.fontWeight = "bold";
			span.style.color = "#000000";

			if (target.nodeName)
			{
				let element = target;
				if (element.dataMyCopiedEle)
					element.dataMyCopiedEle.remove();
				element.dataMyCopiedEle = span;

				element.parentNode.insertBefore(span, element.nextSibling);

				setTimeout(() =>
				{
					if (element.dataMyCopiedEle === span)
						span.style.opacity = '0';

					setTimeout(() =>
					{
						if (element.dataMyCopiedEle === span)
							span.remove();
					}, 1000);
				}, durationMs);
			}
			else if (typeof target.x === "number" && typeof target.y === "number")
			{
				span.style.position = "absolute";
				span.style.backgroundColor = "#FFFFFF";
				span.style.padding = "1px 2px";
				span.style.borderRadius = "3px";
				span.style.border = "1px solid #000000";
				span.style.boxShadow = "1px 1px 3px rgba(128,128,128,0.5)";
				span.style.boxSizing = "border-box";
				span.style.userSelect = "none";
				span.style.pointerEvents = "none";

				document.body.appendChild(span);

				let w = span.offsetWidth || w;
				let h = span.offsetHeight || h;
				span.style.left = (target.x - (w / 2) - 8) + "px";
				span.style.top = (target.y - h) + "px";

				setTimeout(() =>
				{
					span.style.opacity = '0';

					setTimeout(() =>
					{
						span.remove();
					}, 1000);
				}, durationMs);
			}
		}
	</script>
</body>
</html>